.btn-flat {
    background-color: purple;
    color: white;
    }

    .btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    }
#div1{
    background-color: #e4ac35;
    box-sizing: content-box;
    /* width : 400px; */
    /* height : 20px; */
    border: 10px solid #e4ac35;
    padding : 30px;
    text-align: center;
}

#div2{
    box-sizing: content-box;
    /* width : 400px; */
    /* height : 200px; */
    border: 10px solid #203280;
    padding : 30px;
    margin: 10px 0 10px 0;
    text-align: center;
}

#div3{
    background-color: #271f52;
    box-sizing: content-box;
    /* width : 400px; */
    /* height : 20px; */
    padding : 30px;
    border: 10px solid #271f52;    
    text-align: center;
    color: white;
}

a{
    padding: 10px;
    display: inline-block;
}

.a-active{
    color: red;
}
/* .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #bbeffd;
    border: 1px solid #61dafb;
}

.row>.col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #bbeffd;
    border: 1px solid #61dafb;
} */

